.bibliography {
  padding-top: 2em;
  button,input{
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
  li{
    padding-bottom: 0.6em;
  }
  .bibtex{
    background-color: #001871;
  }
  .doi{
    background-color:#ffb549;
  }
  .pdf{
    background-color:#8bc24c;
  }
  .poster{
    background-color: #3b9a9c;
  }
}
